{% extends 'adminbase.html.twig' %}

{% block title %}User Index Page{% endblock %}

{% block body %}

<script language="JavaScript" type="text/javascript">
    function openWin( windowURL, windowName, windorFeatures) { window.open( windowURL, windowName, windorFeatures); }
</script>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-md-flex no-block align-items-center">

                <a href="{{ path('admin_user_new') }}"  class="btn btn-outline-danger" type="button">Create New User</a>

                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Information</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">


        <div class="row">

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>User Information</h3><br>
                        <div class="d-md-flex align-items-center">
    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Image</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td style="word-wrap: break-word;min-width: 50px;max-width: 140px;">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td style="word-wrap: break-word;max-width: 110px;"><img src="{{ asset('uploads/images/' ~ user.image) }}" height="40" width="55" alt=""></td>
                <td>{{ user.status }}</td>
                <td><a href="{{ path('admin_user_show', {'id': user.id}) }}" class="btn btn-block btn-primary">Show</a>
                </td>
                <td><a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-block btn-primary">Edit</a>
                </td>
                <td>
                    {{ include('admin/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




{% endblock %}