{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}

{% block body %}

<section id="subintro" xmlns="http://www.w3.org/1999/html">
    <div class="jumbotron subhead" id="overview">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h3><i class="m-icon-big-swapright m-icon-white"></i> Event Details</h3>
                    <p></p>
                </div>
                <div class="span4">
                    <div class="input-append">
                        <form class="form-search">
                            <input type="text" class="input-medium search-query">
                            <button type="submit" class="btn btn-inverse">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span2"></div>
            <!-- -----------article-------------------    -->

            <div class="span8">
                <article class="blog-post">
                    <div class="tooltip-demo headline">

                    </div>

                    <div class="row">

                        <div class="span9">
                            <!-- -----------end article-------------------    -->

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_At</th>
                <td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ event.status }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ event.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ event.country }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ event.details |raw }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ event.category }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ event.userid }}</td>
            </tr>
        </tbody>
    </table>
                        </div>
                    </div>

                    {{ include('event/_delete_form.html.twig') }}
                    <a href="{{ path('user_event_index')}}" class="btn btn-block btn-inverse" type="button">Back to List</a>
                
                </article>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
