{% extends 'adminbase.html.twig' %}

{% block title %}Show Announcements{% endblock %}

{% block body %}

    <script language="JavaScript" type="text/javascript">
        function openWin( windowURL, windowName, windorFeatures) { window.open( windowURL, windowName, windorFeatures); }
    </script>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-md-flex no-block align-items-center">

                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Announcement Page</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3> Show Announcements </h3><br>
                            <div class="d-md-flex align-items-center">
                                <!-- ============================================================== -->
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ announcement.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Title</th>
                                        <td>{{ announcement.title }}</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <td>{{ announcement.category }}</td>
                                    </tr>
                                    <tr>
                                        <th>Userid</th>
                                        <td>{{ announcement.userid }}</td>
                                    </tr>
                                    <tr>
                                        <th>Keywords</th>
                                        <td>{{ announcement.keywords }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ announcement.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>{{ announcement.city }} / {{ announcement.country }}</td>
                                    </tr>
                                    <tr>
                                        <th>Created_at</th>
                                        <td>{{ announcement.createdAt ? announcement.createdAt|date('Y-m-d') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated_at</th>
                                        <td>{{ announcement.updatedAt ? announcement.updatedAt|date('Y-m-d ') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date</th>
                                        <td>{{ announcement.date ? announcement.date|date('Y-m-d H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Detail</th>
                                        <td>{{ announcement.status }}</td>
                                    </tr>
                                    <tr>
                                        <th>Detail</th>
                                        <td>{{ announcement.details }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- ============================================================== -->
                            </div>
                        </div>

                    </div>
                    <a href="{{ path('admin_announcement_index') }}" class="btn btn-block btn-outline-primary" type="button">Back to List</a>

                    <a href="{{ path('admin_announcement_edit', {'id': announcement.id}) }}" class="btn btn-block btn-outline-primary" type="button">Edit</a>
                    <br>
                    {{ include('admin/announcement/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>




{% endblock %}